<form id='submit-create' action='/create' method='post'>
  <input type='text' name='note[title]' placeholder='Title'><br>
  <input type='text' name='note[content]' placeholder='Content'>
  <input type='submit' value='Create'>
</form>
