<div class='note'>
  <h3><%=note.title%></h3>
  <p><%=note.content%></p>
  <form class='edit' action="/edit/<%=note.id%>" method='get'><input type='submit' value="Edit"></form>
  <form class='delete' action="/delete/<%=note.id%>" method='get'><input type='submit' value="Delete"></form>
</div>
