<div id='top'>
  <form id='create' action='/create' method='get'><input type='submit' value='Create a Note'></form>
</div>
<div id='notes'>
<% @notes.each do |note| %>
  <%= erb :_note, layout: false, locals: {note: note} %>
<% end %>
</div>
